.picture-oss-a{
    display: flex;
}

.picture-oss-a .icon-container{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-around;
    overflow: hidden;
}

.file-oss-a{
    display: flex;
}

.file-oss-a .icon-container{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-around;
    overflow: hidden;
}

.builder-form-box .os-img-box img{
    cursor: pointer;
}

@media (min-width: 768px) {
    .builder-form-box .builder-form-container .builder-form .os-img-box {
        width: 70%;
    }
}

.builder-form-box .os-img-box {
    position: relative;
    vertical-align: top;
    height: 90px;
}
.builder-form-box .os-img-box img {
    margin-top: 8px;
    max-width: 150px;
    max-height: 90px;
    margin-right: 8px;
}
.builder-form-box .os-img-box .remove-picture {
    color: red;
    position: absolute;
    top: 0;
    right: 2px;
    background: #fff;
    border-radius: 20px;
    cursor: pointer;
}
.builder-form-box .os-img-box .remove-picture:hover {
    color: #DD0000;
    box-shadow: inset 0 1px 1px red, 0 0 8px red;
}

.os-sortable {
    list-style-type: none;
}

.os-sortable li{
    float: left;
}

.os-sortable::after {
    content: "";
    display: block;
    clear: both;
}

.os-sort-state-highlight{
    margin-top: 8px;
    margin-right: 8px;
    height: 90px;
    width: 150px;
    border: 1px solid #fff;
    background-color: #fff;
}